<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-side-menu">
   
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                 <li data-toggle="collapse" data-target="#user" class="collapsed">
                  <a href="#"><i class="fa fa-users fa-lg"></i> Users <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="user">
                   <li [routerLink]="['/viewuser']">View User</li>
                   <li [routerLink]="['/createuser']">Create User</li>
                </ul>

               <li data-toggle="collapse" data-target="#role" class="collapsed">
                  <a href="#"><i class="fa fa-users fa-lg"></i> Roles <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="role">
                  <li [routerLink]="['/viewrole']">View Role</li>
                  <li [routerLink]="['/addrole']">Add New Role</li>
                </ul>
                     </ul>
     </div>

</div>

        <div class="col-sm-9 col-sm-offset-2 "> 
                            
        <div class="container">
            <br><br> <br><br>
        <form class="w3-container w3-card-4">
           
             <h2 class="w3-text-blue w3-center">Create User</h2>
             <hr>
             <br>
            <div class="form-group row">
            <label for="inputFirstName" class="col-sm-2 col-form-label">FirstName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFirstName" placeholder="Enter FirstName" required>
            </div>
            </div>
             <div class="form-group row">
            <label for="inputLastName" class="col-sm-2 col-form-label">LastName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLastName" placeholder="Enter LastName"  required>
            </div>
            </div>
             <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email"  required>
            </div>
            </div>
            <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password"  required>
            </div>
            </div>
            <div class="form-group row">
            <label for="example-tel-input" class="col-sm-2 col-form-label">PhoneNumber</label>
            <div class="col-sm-10">
                <input class="form-control" type="tel" placeholder="Enter PhoneNumber" id="example-tel-input"  required>
            </div>
            </div>
           
             <div class="form-group row">
            <label for="inputSelect" class="col-sm-2 col-form-label">select</label> 
            <div class="col-sm-10">
                <select class="form-control" name="option"  required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Admin">Admin</option>
                    <option value="Developer">Developer</option>
                    <option value="Reseller">Reseller</option>
                </select>

            </div>
            </div>
            
    <hr>
            <div class="form-group row">
            <div class= "col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">create User</button>
            </div>
            </div>
  </form>
</div>
                    
     
  </div>

   