<div class="w3-container">
    <div class="w3-container">
        <h2>Manage Users </h2>
    </div>
     <hr>
       
        <button class="w3-btn w3-white w3-border w3-border-blue w3-round-xlarge"  [routerLink]="['/createuser']">create user</button>
        <button class="w3-btn w3-white w3-border w3-border-yellow w3-round-xlarge" [routerLink]="['/edituser']">Edit user</button>
        <button class="w3-btn w3-white w3-border w3-border-pink w3-round-xlarge">Delete</button>

        <div>
         <a [routerLink]="['/admin']" class="btn btn-link"> Go Back To admin</a>
        </div>
 </div>