<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="nav-side-menu">
   
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/developer">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                 <li data-toggle="collapse" data-target="#stockmanagement" class="collapsed">
                  <a href="#"><i class="fa fa-shopping-cart fa-lg"></i> Stock Management <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="stockmanagement">
                   
                    <li [routerLink]="['/addproduct']">Add Product</li>
                   <li [routerLink]="['/createuser']">Create User</li>
                </ul>

                 <li data-toggle="collapse" data-target="#profile" class="collapsed">
                  <a href="#"><i class="fa fa-user fa-lg"></i> Profile <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="profile">
                   
                    <li onclick="document.getElementById('id01').style.display='block'" >password</li>
     
                   <li onclick="document.getElementById('id02').style.display='block'" >Update Profile</li>
                </ul>
     
            </ul>
     </div>

</div>

 <div class="col-sm-9 col-sm-offset-2  text-left"> 
      <h1>Welcome To  Developer</h1>
      
      <hr>

       <div class="w3-container">
  
 

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
       <header class="w3-container"> 
        <h2>Change Password</h2>
        
      </header>
      </div>

      <form class="w3-container" action="form.asp">
        <div class="w3-section">
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Enter Password" name="psw" required>
           <label><b>Change Password</b></label>
          <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
          <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">update</button>
        
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-btn w3-red">Cancel</button>
      </div>
       </div>
  </div>
</div>


<div class="w3-container">
  <div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-8 w3-animate-top" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright" title="Close Modal">&times;</span>
       <header class="w3-container"> 
        <h2>Update Profile</h2>
      </header>
      </div>

      <form class="w3-container" action="form.asp">
        <div class="w3-section">
          <label><b>FirstName</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter FirstName" name="frtname" required>
          <label><b>LastName</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter LastName" name="lstname" required>
           <label><b>Phone Number</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter PhoneNumber" name="PhoneNumber" required>
           <label><b>Email</b></label>
          <input class="w3-input w3-border" type="email" placeholder="Enter Email" name="email" required>
          <button class="w3-btn-block w3-green w3-section w3-padding" type="submit">update</button>
        
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-btn w3-red">Cancel</button>
     </div>
    </div>
  </div>
 </div>
</div>

   