 
 <div class="w3-container ">

         <div class="w3-container" >
                 <h2>Register</h2>
            
            </div>
 <hr>

<div class="w3-row-padding">
            <div class="w3-half">
              <label>What will you be selling?</label>
               <select class="w3-select" name="option" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="w3-half">
              <label>Where is your business based?</label>
               <select class="w3-select" name="option" required>
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
            <div class="w3-half">
              <label>Store Name</label>
              <input class="w3-input" type="text" placeholder=" Enter StoreName" required>
            </div>
            <div class="w3-half">
              <label>Phone Number</label>
              <input class="w3-input" type="text" placeholder=" Enter phonenumber" required>
            </div>
             <div class="w3-half">
              <label>First Name</label>
              <input class="w3-input" type="text" placeholder="Enter firstname" required>
            </div>
             <div class="w3-half">
              <label>Last Name</label>
              <input class="w3-input" type="text" placeholder=" Enter Lastname" required>
            </div>
            <div class="w3-half">
              <label>Email</label>
              <input class="w3-input" type="Email" placeholder="Enter email" required>
            </div>
            <div class="w3-half">
              <label>Password</label>
              <input class="w3-input" type="Password" placeholder="Enter Password" required>
            </div>
          </div>




       
          <button class="w3-btn-block w3-blue w3-section w3-padding" type="submit">Register</button>
         <a [routerLink]="['']" class="btn btn-link">Cancel</a>

 </div>